%% -*- erlang -*-
{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [{erlang_websocket, ".*",
         {git, "git://github.com/MiCHiLU/erlang_websocket.git"}},
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git"}},
        {meck_cassettes, ".*",
         {git, "git://github.com/wjlroe/meck_cassettes.git"}},
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
        {gproc, ".*",
         {git, "git://github.com/esl/gproc.git"}}
       ]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
